name: Fullstack-Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # ----------------------------------------
      # SSH into PUBLIC EC2 (frontend server)
      # ----------------------------------------
      - name: Deploy Frontend
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.FRONTEND_EC2_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo apt update -y 
            sudo apt install docker.io git -y 
            git clone https://github.com/prathap4414/java-react-fullstack.git
            cd /home/ubuntu/java-react-fullstack/frontend
            sudo docker build -t frontend-app .
            sudo docker stop frontend || true
            sudo docker rm frontend || true
            sudo docker run -d --name frontend -p 80:80 frontend-app

      # ----------------------------------------
      # SSH into PRIVATE EC2 USING JUMP HOST
      # ----------------------------------------
      
      
