name: deployment of project built on java and node

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: creating key pair file
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > newkeypair.pem
          chmod 400 newkeypair.pem

      - name: ssh into frontend ec2 and deploy frontend
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.FRONTEND_EC2_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "------connected to frontend ec2------"

            # Fix permissions (important)
            sudo chown -R ubuntu:ubuntu /home/ubuntu

            echo "------creating ssh key pair ----------"
            if [ -f "newkeypair.pem" ]; then
              echo "key pair file already exists"
            else
              echo "${{ secrets.EC2_SSH_KEY }}" > newkeypair.pem
              chmod 400 newkeypair.pem
            fi

            echo "------deploying frontend application ------"
            sudo apt update -y
            sudo apt install git docker.io -y

            if [ -d "java-react-fullstack" ]; then
              echo "repo already exists, removing it"
              rm -rf java-react-fullstack
            fi

            echo "cloning fresh repo"
            git clone https://github.com/prathap4414/java-react-fullstack.git

      - name: deploying the frontend image and container
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.FRONTEND_EC2_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "------connected to frontend ec2------"
            echo "------deploying frontend docker image and container ------"

            cd java-react-fullstack/frontend

            sudo docker stop frontend-container || true
            sudo docker rm frontend-container || true

            sudo docker build -t frontend-image .
            sudo docker run -d -p 80:80 --name frontend-container frontend-image
       

      - name: Deploy backend from frontend EC2
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.FRONTEND_EC2_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "===== Connected to FRONTEND EC2 ====="
            chmod 400 newkeypair.pem
            echo "===== SSH into BACKEND EC2 ====="
            ssh -o StrictHostKeyChecking=no \
            -i newkeypair.pem \
            ubuntu@${{ secrets.BACKEND_EC2_IP }} << 'EOF'

            echo "===== Connected to BACKEND EC2 ====="
            sudo apt update -y
            sudo apt install git docker.io -y

            if [ -d "java-react-fullstack" ]; then
              echo "Removing old repo..."
              rm -rf java-react-fullstack
            fi

            git clone https://github.com/prathap4414/java-react-fullstack.git

            cd java-react-fullstack/backend
            sudo docker build -t backend-image .

            sudo docker rm -f backend-container || true
            sudo docker run -d -p 8080:8080 --name backend-container backend-image

            echo "===== BACKEND DEPLOYED SUCCESSFULLY ====="

            EOF